* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Poppins:wght@100;300;400;600;700;800;900&display=swap');

.App {
  text-align: center;
  background: linear-gradient(to bottom right, #ed4264, #ffedbc);
  width: 100%;
  
  
}

/*THIS IS FOR THE NAVBAR*/

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 20px;
  
  
}

.logo {
  font-size: 30px;
  font-weight: 600;
  color: #e8e8e8;
}

.menu {
  width: 40px;
  height: 30px;
  
}



.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e8e8e8;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}


/*THIS IS FOR THE MENU TAB*/

.menu-list {
  display: flex;
  justify-content: space-around;  
  width: 80%;
  margin: 0px 10%;
  border-radius: 20px;
  position: absolute;
  
}
.menu-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu-list ul li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.menu-list ul li:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background-color: #f08080d2;
}

.menu-list ul li h1 {
  color: rgba(255, 255, 255, 0);
  font-size: 30px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}
.menutab-open {
  
  width: 80%;
  height: 400px;
  z-index: 1;
  animation: menu-open 1s ease-in-out;

  background-color: #f0808093;
}

@keyframes menu-open {
  0% {
    z-index: 1;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menutab-close {
 
  width: 80%;
  height: 400px;
  z-index: -1;
  animation: menu-close 1s ease-in-out;
  background-color: #f0808093;
}

@keyframes menu-close {
  0% {
    z-index: 1;
    opacity: 1;
  }

  100%{
    opacity: 0;
    z-index: -1;
  }
}

/*THIS IS FOR THE LOADER*/
.loader-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
  animation: load 10s ;
}

@keyframes load {
  0% {
    z-index: 3;
    opacity: 1;
  }

  100% {
    z-index: -3;
    opacity: 0;
  }
}

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

/*THIS IS FOR THE MAIN PAGE*/

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page1 {
  width: auto;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.3);
}

.main-page1 h1 {
  color: #e8e8e8d5;
  font-family: 'Poppins' sans-serif;
  font-weight: 900;
  font-size: 60px;
  -webkit-text-stroke: 1px #ed4264;
}