* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom right, #ed4264, #ffedbc);
  width: 100%;
  height: 100vh;
  
}

/*THIS IS FOR THE NAVBAR*/

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 20px;
  
  
}

.logo {
  font-size: 30px;
  font-weight: 600;
  color: #e8e8e8;
}

.menu {
  width: 40px;
  height: 30px;
  
}



.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e8e8e8;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}


/*THIS IS FOR THE MENU TAB*/

.menu-list {
  display: flex;
  justify-content: space-around;  
  width: 80%;
  margin: 0px 10%;
  border-radius: 20px;
  position: absolute;
}
.menu-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu-list ul li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.menu-list ul li:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-list ul li h1 {
  color: rgba(255, 255, 255, 0);
  font-size: 30px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}
.menutab-open {
  
  width: 80%;
  height: 400px;
  z-index: 1;
  animation: menu-open 1s ease-in-out;
  background: rgba(255, 255, 255, 0.3);
}

@keyframes menu-open {
  0% {
    z-index: 1;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menutab-close {
 
  width: 80%;
  height: 400px;
  z-index: -1;
  animation: menu-close 1s ease-in-out;
  background: rgba(255, 255, 255, 0.3);
}

@keyframes menu-close {
  0% {
    z-index: 1;
    opacity: 1;
  }

  100%{
    opacity: 0;
    z-index: -1;
  }
}

/*THIS IS FOR THE LOADER*/
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
  animation: load 10s ease-in-out;
}

@keyframes load {
  0% {
    z-index: 3;
    opacity: 1;
  }

  100% {
    z-index: -3;
    opacity: 0;
  }
}

.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
 }
 
 .spinner > div {
  background-color: rgba(0,77,255,0.3);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
 }
 
 .spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(22px);
 }
 
 @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
 }